.addMovie{
    text-align: left;
    label{
        text-transform: uppercase;
        font-size: 15px;
    }
    textarea{
        resize: none;
    }
    .themPhimForm{
        .contentRight{
            text-align: right;
            input{
                margin-left:auto;
            }
        }
    }
}