.userInfo {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  .cProfile {
    background: #de6262;
    background: -webkit-linear-gradient(to bottom, #ffb88c, #de6262);
    background: linear-gradient(to bottom, #ffb88c, #de6262);
    border-radius: 10px;
    box-shadow: -1px 13px 22px 9px rgba(77, 75, 75, 0.7);
  }
  .profile {
    margin: 20px 0;
  }
  .profile-sidebar {
    padding: 20px 0 10px 0;
  }
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .profile-usertitle {
    text-align: center;
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #fff;
  }

  .profile-usertitle-name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
    border-radius: 0 15px 15px 0;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #de6262;
    background-color: #fff;
  }
  a {
    color: #fff;
    margin: 5px 0;
  }
  .form-input {
    padding: 0 20px;
    border: 2px solid #eee;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    transition: 0.25s ease-in;
  }
  .form-input:focus {
    outline: none !important;

    border-color: #de6262;
  }
  .form-field {
    position: relative;
    margin: 0 0 40px;
  }
  .form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
  }
  .form-input:not(:placeholder-shown) + .form-label,
  .form-input:focus + .form-label {
    top: 0;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: #de6262;
  }
  .btn-edit {
    background: #de6262;
    color: #fff;
    font-weight: 600;
    transition: all 0.5s;
    &:hover {
      background-color: #fff;
      color: #de6262;
      border: 1px solid #de6262;
    }
  }
  .userInfoTitle {
    display: flex;
    justify-content: center;
    .faEditIcon {
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
