.movieItem {
    .cardItem {
      border: none;
      img {
        border-radius: 5px;
      }
      .cardText {
        h5 {
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          white-space: nowrap;
        }
      }
    }
  }

  //ipad
// @media only screen and (min-width: 740px) and (max-width: 1024px){

// }